.lightbox {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.lightbox .fadeOut {
  animation: lightboxOut 0.5s;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.lightbox button {
  opacity: 0.4;
  text-indent: -3000px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.lightbox button:hover {
  opacity: 1;
}
.focusedNext {
  opacity: 1;
}

.lightbox_prev,
.lightbox_next {
  border: none;
  background: url(/assets/icons/arrow.svg) center center / 30px 48px no-repeat;
  width: 50px;
  height: 100%;
  left: 30px;
  position: fixed;
  z-index: 11;
  top: 0;
  margin-top: -24px;
}

.lightbox_next {
  left: auto;
  right: 30px;
  transform: rotate(180deg);
}

.lightbox_close {
  border: none;
  width: 50px;
  height: 50px;
  background: url(/assets/icons/closeModal.svg) center center / 50px 50px
    no-repeat transparent;
  position: fixed;
  top: 5vh;
  right: 4vh;
  z-index: 15;
}

.lightbox_title {
  position: fixed;
  z-index: 12;
  bottom: 2vh;
  left: 10vw;
  color: #901c1c;
  font-weight: 400;
  font-size: 1.5rem;
}

.lightbox_container img,
video {
  max-width: 80vw;
  max-height: 85vh;
  animation: lightboxIn 0.5s;
  transition: all 0.3s ease-in-out;
}

.lightbox_loader {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  background: url(/assets/icons/loader.svg) center center / 50px 50px no-repeat;
}

.lightbox_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 60px;
  min-height: 100%;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightboxOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
