#contact_modal {
  display: none;
}

.button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 60px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  margin: 0 100px 150px 100px;
  position: relative;
}

.photograph_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #fafafa;
  height: 300px;
}
.photograph_header h2 {
  font-weight: 400;
  font-size: 64px;
  color: #d3573c;
  margin: 0;
}
.photograph_header div {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.photograph_header p {
  font-size: 24px;
  color: #901c1c;
  margin: 0;
}

.photograph_header span {
  font-size: 18px;
  color: #757575;
}

.photograph_header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph_article {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 30px;
}

.photograph_article article {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photograph_article article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #901c1c;
}

.photograph_article .likes_container {
  display: flex;
  gap: 5px;
}

.svg_heart {
  cursor: pointer;
}
.picture {
  height: 300px;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
}

.picture:hover {
  opacity: 0.8;
}

.contact_button:hover {
  background-color: #db8876;
  color: black;
}

.snackbar {
  position: fixed;
  bottom: 0;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 65px;
  font-size: 24px;
  font-weight: 700;
  padding: 21px 36px;
  border-radius: 5px;
  background: #db8876;
}

.profile_likes_container {
  display: flex;
  align-items: center;
  gap: 5px;
}
